# Version control
.git
.gitignore

# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Images
*.jpg
*.png
*.gif

# Documentation
README.md
LICENSE

# Docker
Dockerfile
.dockerignore

# Test
coverage
.nyc_output
